# Dataframes Pandas

### Importar el módulo pandas

In [1]:
import pandas as pd

### Crear un dataframe pandas

In [2]:
# Se crea una serie pandas, que contiene una lista de compras
compras = pd.Series(data = [30, 6, 'Si', 'No'], index = ['huevos', 'manzanas', 'leche', 'pan'])

# Se despliega la serie pandas
compras

huevos      30
manzanas     6
leche       Si
pan         No
dtype: object

In [3]:
# Se crea un dataframe pandas, enviando el diccionario de la serie pandas
articulos = {'articulo': compras}
carrito = pd.DataFrame(articulos)

# Se despliega el dataframe
carrito

         articulo
huevos         30
manzanas        6
leche          Si
pan            No

### Describir un dataframe pandas

In [5]:
# Se imprime parte de la información del carrito de compras
print('carrito tiene la forma:', carrito.shape)
print('carrito tiene las siguientes dimensiones:', carrito.ndim)
print('carrito tiene un total de:', carrito.size, 'elementos')
print()
print('Los datos del carrito son:\n', carrito.values)
print()
print('Los índices de los renglones en carrito son:', carrito.index)
print()
print('Los índices de las columnas en carrito son:', carrito.columns)

carrito tiene la forma: (4, 1)
carrito tiene las siguientes dimensiones: 2
carrito tiene un total de: 4 elementos

Los datos del carrito son:
 [[30]
 [6]
 ['Si']
 ['No']]

Los índices de los renglones en carrito son: Index(['huevos', 'manzanas', 'leche', 'pan'], dtype='object')

Los índices de las columnas en carrito son: Index(['articulo'], dtype='object')

### Obtener una rebanada de un dataframe pandas

In [7]:
# Se crea un dataframe, a partir de un diccionario
datos = {'Juan' : pd.Series([245, 25, 55]),
         'Alicia' : pd.Series([40, 110, 500, 45])}

# Se crea un dataframe
df = pd.DataFrame(datos)

# Se despliega el dataframe
df

    Juan  Alicia
0  245.0      40
1   25.0     110
2   55.0     500
3    NaN      45

In [8]:
# Se crea un dataframe que contenga solamente los datos de Juan
carrito_juan = pd.DataFrame(datos, columns=['Juan'])

# Se despliega el carrito de Juan
carrito_juan

   Juan
0   245
1    25
2    55

In [11]:
# Se crea un dataframe que contenga solamente los datos de Alicia, de los renglones 1 y 2
carrito_alicia = pd.DataFrame(datos, index = [1, 2], columns = ['Alicia'])

# We display alice_sel_shopping_cart
carrito_alicia

   Alicia
1     110
2     500

# Accesar, Agregar y Borrar en un dataframe pandas

### Accesar un dataframe pandas

In [12]:
# Se crea una lista de diccionarios
articulos = [{'bicicletas': 20, 'pantalones': 30, 'relojes': 35}, 
             {'relojes': 10, 'anteojos': 50, 'bicicletas': 15, 'pantalones':5}]

# Se crea un dataframe y se proporciona el indice para los renglones
articulos_en_tienda = pd.DataFrame(articulos, index = ['tienda 1', 'tienda 2'])

# Se despliega el dataframe
articulos_en_tienda

          bicicletas  pantalones  relojes  anteojos
tienda 1          20          30       35       NaN
tienda 2          15           5       10      50.0

In [13]:
# Se imprimen el dataframe articulos_en_tienda
print(articulos_en_tienda)

# Se accesan los renglones, las columnas y los elemntos, utilizando etiquetas
print()
print('¿Cuántas bicicletas hay en cada tienda?:\n', articulos_en_tienda[['bicicletas']])
print()
print('¿Cuántas bicicletas y pantalones hay en cada tienda?:\n', articulos_en_tienda[['bicicletas', 'pantalones']])
print()
print('¿Qué artículos hay en la Tienda 1?:\n', articulos_en_tienda.loc[['tienda 1']])
print()
print('¿Cuántas bicicletas hay en la Tienda 2?:', articulos_en_tienda['bicicletas']['tienda 2'])

          bicicletas  pantalones  relojes  anteojos
tienda 1          20          30       35       NaN
tienda 2          15           5       10      50.0

¿Cuántas bicicletas hay en cada tienda?:
           bicicletas
tienda 1          20
tienda 2          15

¿Cuántas bicicletas y pantalones hay en cada tienda?:
           bicicletas  pantalones
tienda 1          20          30
tienda 2          15           5

¿Qué artículos hay en la Tienda 1?:
           bicicletas  pantalones  relojes  anteojos
tienda 1          20          30       35       NaN

¿Cuántas bicicletas hay en la Tienda 2?: 15

### Agregar en un dataframe pandas

In [14]:
# Se crea un diccionario a partir de una lista de diccionarios, con el número de artículos en una nueva tienda
nuevos_articulos = [{'bicicletas': 20, 'pantalones': 30, 'relojes': 35, 'anteojos': 4}]

# Se crea un nuevo dataframe con los nuevos artículos y se le proporciona un índice con la etiqueta tienda 3
nueva_tienda = pd.DataFrame(nuevos_articulos, index = ['tienda 3'])

# Se despliegan los artículos de la nueva tienda
nueva_tienda

          bicicletas  pantalones  relojes  anteojos
tienda 3          20          30       35         4

In [15]:
# Se agrega la tienda 3 al dataframe articulos_en_tienda
articulos_en_tienda = articulos_en_tienda.append(nueva_tienda)

# We display the modified DataFrame
articulos_en_tienda

          bicicletas  pantalones  relojes  anteojos
tienda 1          20          30       35       NaN
tienda 2          15           5       10      50.0
tienda 3          20          30       35       4.0

### Borrar dentro de un dataframe pandas

In [16]:
# Se borra la columna de relojes
articulos_en_tienda = articulos_en_tienda.drop(['relojes'], axis = 1)

# Se despliega el dataframe modificado
articulos_en_tienda

          bicicletas  pantalones  anteojos
tienda 1          20          30       NaN
tienda 2          15           5      50.0
tienda 3          20          30       4.0

In [17]:
# Se borran los renglones de las tiendas 2 y 1
articulos_en_tienda = articulos_en_tienda.drop(['tienda 2', 'tienda 1'], axis = 0)

# Se despliega el dataframe modificado
articulos_en_tienda

          bicicletas  pantalones  anteojos
tienda 3          20          30       4.0