# Python & DB

### Installar el adaptador de base de datos PostgreSQL

In [1]:
%%!
pip install psycopg2-binary

['Collecting psycopg2-binary',
 '  Downloading psycopg2_binary-2.8.6-cp38-cp38-macosx_10_9_x86_64.macosx_10_9_intel.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)',
 'Installing collected packages: psycopg2-binary',
 'Successfully installed psycopg2-binary-2.8.6']

### Importar m√≥dulos

In [2]:
import configparser
import psycopg2
import pandas as pd

In [3]:
config = configparser.ConfigParser()
config.read('data_files/dwh.cfg')

['data_files/dwh.cfg']

### Cargar datos desde archivo JSON

In [4]:
df = pd.read_json("data_files/2018-11-01-events.json", orient="records", lines=True)

In [5]:
df.head(5)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

### Limpiar datos

In [6]:
df = df[df["artist"].notnull()]
df.reset_index(drop=True, inplace=True)

In [ ]:
#filter = df["artist"] == 'Mr Oizo'
#df = df[filter]

In [7]:
df["play_date"] = pd.to_datetime(df['ts'], unit="ms").dt.date

In [8]:
location = df["location"].str.split(",", n = 1, expand = True)

In [9]:
df["location"] = location[0]
df["state"] = location[1]

In [10]:
df.rename(columns={'firstName':'first_name',
                  'lastName':'last_name',
                  'userId':'user_id'}, 
        inplace=True)

In [11]:
df["artist"]= df["artist"].str.replace("'", "''")

In [12]:
df

,artist,auth,first_name,gender,itemInSession,last_name,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,user_id,play_date,state
0,Des''ree,Logged In,Kaylee,F,1,Summers,246.30812,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
1,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
2,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
3,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
4,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
5,Blue October / Imogen Heap,Logged In,Kaylee,F,7,Summers,241.39710,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,Congratulations,200,1541107493796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
6,Girl Talk,Logged In,Kaylee,F,8,Summers,160.15628,free,Phoenix-Mesa-Scottsdale,PUT,NextSong,1540344794796,139,Once again,200,1541107734796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01,AZ
7,Black Eyed Peas,Logged In,Sylvie,F,0,Cruz,214.93506,free,Washington-Arlington-Alexandria,PUT,NextSong,1540266185796,9,Pump It,200,1541108520796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10,2018-11-01,DC-VA-MD-WV
8,Fall Out Boy,Logged In,Ryan,M,1,Smith,200.72444,free,San Jose-Sunnyvale-Santa Clara,PUT,NextSong,1541016707796,169,Nobody Puts Baby In The Corner,200,1541109125796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-01,CA
9,M.I.A.,Logged In,Ryan,M,2,Smith,233.71710,free,San Jose-Sunnyvale-Santa Clara,PUT,NextSong,1541016707796,169,Mango Pickle Down River (With The Wilcannia Mob),200,1541109325796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-01,CA
10,Survivor,Logged In,Jayden,M,0,Fox,245.36771,free,New Orleans-Metairie,PUT,NextSong,1541033612796,100,Eye Of The Tiger,200,1541110994796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101,2018-11-01,LA

In [13]:
#Seleccionar solo columnas relevantes
df_select = df[["artist",
                "first_name",
                "last_name",
                "gender",
                "length",
                "level",
                "location",
                "state",
                "song",
                "status",
                "play_date",
                "user_id"
              ]]

In [14]:
df_select

,artist,first_name,last_name,gender,length,level,location,state,song,status,play_date,user_id
0,Des''ree,Kaylee,Summers,F,246.30812,free,Phoenix-Mesa-Scottsdale,AZ,You Gotta Be,200,2018-11-01,8
1,Mr Oizo,Kaylee,Summers,F,144.03873,free,Phoenix-Mesa-Scottsdale,AZ,Flat 55,200,2018-11-01,8
2,Tamba Trio,Kaylee,Summers,F,177.18812,free,Phoenix-Mesa-Scottsdale,AZ,Quem Quiser Encontrar O Amor,200,2018-11-01,8
3,The Mars Volta,Kaylee,Summers,F,380.42077,free,Phoenix-Mesa-Scottsdale,AZ,Eriatarka,200,2018-11-01,8
4,Infected Mushroom,Kaylee,Summers,F,440.26730,free,Phoenix-Mesa-Scottsdale,AZ,Becoming Insane,200,2018-11-01,8
5,Blue October / Imogen Heap,Kaylee,Summers,F,241.39710,free,Phoenix-Mesa-Scottsdale,AZ,Congratulations,200,2018-11-01,8
6,Girl Talk,Kaylee,Summers,F,160.15628,free,Phoenix-Mesa-Scottsdale,AZ,Once again,200,2018-11-01,8
7,Black Eyed Peas,Sylvie,Cruz,F,214.93506,free,Washington-Arlington-Alexandria,DC-VA-MD-WV,Pump It,200,2018-11-01,10
8,Fall Out Boy,Ryan,Smith,M,200.72444,free,San Jose-Sunnyvale-Santa Clara,CA,Nobody Puts Baby In The Corner,200,2018-11-01,26
9,M.I.A.,Ryan,Smith,M,233.71710,free,San Jose-Sunnyvale-Santa Clara,CA,Mango Pickle Down River (With The Wilcannia Mob),200,2018-11-01,26
10,Survivor,Jayden,Fox,M,245.36771,free,New Orleans-Metairie,LA,Eye Of The Tiger,200,2018-11-01,101

### Crear conexi√≥n a Postgres

In [15]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

### Crear tabla

In [16]:
play_events_table_drop = "DROP TABLE IF EXISTS public.play_events_acc"

In [17]:
cur.execute(play_events_table_drop)
conn.commit()

In [18]:
play_events_table_create= ("""CREATE TABLE IF NOT EXISTS public.play_events_acc(
                        artist          VARCHAR,
                        first_name      VARCHAR,
                        last_name       VARCHAR,
                        gender          VARCHAR,
                        length          FLOAT,
                        level           VARCHAR,
                        location        VARCHAR,
                        state           VARCHAR,
                        song            VARCHAR,
                        status          INT,
                        play_date       DATE,
                        user_id         INT
                        )""")

In [19]:
cur.execute(play_events_table_create)
conn.commit()

### Cargar datos a tabla (M√©todo 1)

In [20]:
columns = list(df_select.keys())

In [21]:
columns

['artist',
 'first_name',
 'last_name',
 'gender',
 'length',
 'level',
 'location',
 'state',
 'song',
 'status',
 'play_date',
 'user_id']

In [22]:
col_str = ','.join(columns)

In [23]:
val_str = "VALUES ({});"

In [24]:
for i,row in df_select.astype(str).iterrows():
    values = "'" + "','".join(row) + "'"
    sql_string = "INSERT INTO public.play_events_acc({}) ".format(col_str) + val_str.format(values)
    cur.execute(sql_string)

In [25]:
conn.commit()

### Cargar datos a tabla (M√©todo 2)

In [26]:
sql_string = "INSERT INTO public.play_events_acc(artist,first_name,last_name,gender,length,level,location,state,song,status,play_date,user_id) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"

In [27]:
cur.executemany(sql_string, df_select.values.tolist())

In [28]:
conn.commit()

### Cargar datos a tabla (M√©todo 3)

In [29]:
import sqlalchemy
import pyodbc

In [30]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:Welcome1@database-1.cyeh2tknwf6x.us-east-1.rds.amazonaws.com:5432/postgres')

In [ ]:
engine = sqlalchemy.create_engine("postgresql://postgres:Welcome1@localhost:5432/postgres")

In [31]:
df_select.to_sql("play_events_acc", engine, if_exists='append', index=False)

### Consultar tabla

In [32]:
cur.execute("""SELECT * from public.play_events_acc""")

In [33]:
data_frame = pd.read_sql_query('SELECT * FROM public.play_events_acc;', conn)

In [34]:
data_frame.head(5)

,artist,first_name,last_name,gender,length,level,location,state,song,status,play_date,user_id
0,Des'ree,Kaylee,Summers,F,246.30812,free,Phoenix-Mesa-Scottsdale,AZ,You Gotta Be,200,2018-11-01,8
1,Mr Oizo,Kaylee,Summers,F,144.03873,free,Phoenix-Mesa-Scottsdale,AZ,Flat 55,200,2018-11-01,8
2,Tamba Trio,Kaylee,Summers,F,177.18812,free,Phoenix-Mesa-Scottsdale,AZ,Quem Quiser Encontrar O Amor,200,2018-11-01,8
3,The Mars Volta,Kaylee,Summers,F,380.42077,free,Phoenix-Mesa-Scottsdale,AZ,Eriatarka,200,2018-11-01,8
4,Infected Mushroom,Kaylee,Summers,F,440.26730,free,Phoenix-Mesa-Scottsdale,AZ,Becoming Insane,200,2018-11-01,8

In [35]:
data_frame.shape

(33, 12)

In [ ]:
conn.close()